table {
    border-collapse: collapse;
    width: 100%;

}

th, td {
    text-align: left;
    padding: 8px;
}

table, th, td {
    border: 1px solid #ddd;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.badge {
    margin: 10px;
    padding: 5px;
    background-color: darkolivegreen;
}

.header {
    text-align: center;
}


.total-row {
    /* Add your styles for the total row here */
    background-color: #ffffe0;
    font-weight: bold;
}

footer{
    bottom: 0;
    width: 100%;
}

.footer {
    margin: auto;
    width: 400px;
    text-align:center;
    padding:10px;
}